<!-- BootFrame actions -->
<div class="global-actions">
  <div class="list-group">

    <!-- Authenticated options -->
    {% if authenticated %}
      <a class="list-group-item hide-tooltip active" href="{{ url(null, {'authenticated': null, 'privileged': null}) }}">
        <span class="glyphicon glyphicon-eye-open"></span>
        <span class="sr-only">You are currently browsing as "authenticated", click here to browse as "un-authenticated".</span>
      </a>
    {% else %}
      <a class="list-group-item hide-tooltip" href="{{ url(null, {'authenticated': 'true'}) }}">
        <span class="glyphicon glyphicon-eye-close"></span>
        <span class="sr-only">You are currently browsing as "un-authenticated", click here to browse as "authenticated".</span>
      </a>
    {% endif %}

    <!-- Priveleged options -->
    {% if privileged %}
      <a class="list-group-item hide-tooltip active" href="{{ url(null, {'privileged': null}) }}">
        <span class="glyphicon glyphicon-ok-circle"></span>
        <span class="sr-only">You are currently browsing as "privileged", click here to browse as "non-privileged".</span>
      </a>
    {% else %}
      <a class="list-group-item hide-tooltip" href="{{ url(null, {'authenticated': 'true', 'privileged': 'true'}) }}">
        <span class="glyphicon glyphicon-ban-circle"></span>
        <span class="sr-only">You are currently browsing as "non-privileged", click here to browse as "privileged".</span>
      </a>
    {% endif %}

    <!-- Wireframe index button -->
    <a class="list-group-item hide-tooltip" href="{{ url('/', {'privileged': null, 'authenticated': null}) }}">
      <span class="glyphicon glyphicon-list"></span>
      <span class="sr-only">Click here to return to the wireframe index.</span>
    </a>
  </div>
</div>
