<div class="breadcrumb-container">
  <div class="container">
    <ol class="breadcrumb">
      {% for crumb in crumbs %}
        {% if loop.last %}
          <li class="active">
            {% if crumb.icon %}<span class="fa fa-{{ crumb.icon }}"></span> {% endif %}{{ crumb.text }}
          </li>
        {% else %}
          <li>
            <a href="{{ route(crumb.route) }}">{% if crumb.icon %}<span class="fa fa-{{ crumb.icon }}"></span> {% endif %}{{ crumb.text }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ol>
  </div>
</div>
